@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Approvals</h2>
<ul class="list-group">
    <li class="list-group-item">Claim 1 - John Smith - Pending</li>
    <li class="list-group-item">Claim 2 - Willow Truth - Pending</li>
    <li class="list-group-item">Claim 3 - Mike Dean - Pending</li>
</ul>
<div class="mt-3">
    <button class="btn btn-success">Approve Selected</button>
    <button class="btn btn-danger">Reject Selected</button>
</div>
